<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>
    {% extends "main.html" %}
    {% block content %}
        <form action="/login" method="POST">

            {% if error %}
                <h1>ERROR! Username or Password is Incorrect</h1>
            {% endif %}

            Username: <input type="text" name="username"><br>
            Password: <input type="password" name="password"><br>
            <input type="submit" value="SUBMIT">

        </form>

    {% endblock %}
</body>
</html>